<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Detalhes do Curso</title>
</head>

<body>

    <div id="conteudo-curso">
        <h2 id="titulo"></h2>
        <p id="descricao"></p>

        <iframe id="video" width="560" height="315" frameborder="0" allowfullscreen></iframe>

        <h4>Competências Desenvolvidas:</h4>
        <ul id="competencias"></ul>

        <button id="concluirCurso">Concluir Curso e Enviar Projeto</button>
    </div>

    <script src="detalhes_cursos.js"></script> <!-- dados -->
    <script src="detalhes_cursos_page.js"></script> <!-- lógica da página -->
</body>

</html>