<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Perfil do Candidato</title>
</head>

<body>

    <!-- Navbar -->
    <div id="navbar-container"></div>

    <div id="perfil-candidato">
        <h2 id="nome"></h2>
        <img id="avatar" width="120" class="rounded-circle" alt="Foto do candidato" />
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Localização:</strong> <span id="localizacao"></span></p>
        <p><strong>Contato:</strong> <span id="contato"></span></p>
        <p><strong>Especialização:</strong> <span id="especializacao"></span></p>
        <p><strong>Resumo:</strong> <span id="resumo"></span></p>
        <p><strong>Currículo:</strong> <a id="curriculo" href="#" target="_blank">Ver Currículo</a></p>
    </div>

    <script src="perfil_candidato.js"></script>
    <script src="/nav.js"></script>
</body>

</html>